* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #D6EADF;
    margin: 0;
    padding: 0;
    width: 100%;
}

.Heading{
    display: flex;
    color: #1F2232;
    background-color: #809BCE;
    font-size: 30px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 1px;
    justify-items: space-between;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.Heading .prev{
    transition: all .4s ease;
    float: left;
    background-color: transparent;
    border: none;
    font-size: 40px;
}

.prev:hover{
    border-radius: 100% 0% 0% 100%;
    background: rgb(215, 203, 203);
    background-color: rgb(215, 203, 203);
    padding-left: 20px;
    cursor: pointer;
}

.Heading .next{
    transition: all .4s ease;
    float: right;
    background-color: transparent;
    border: none;
    font-size: 40px;
}

.next:hover{
    border-radius: 0% 100% 100% 0%;
    background: rgb(215, 203, 203);
    background-color: rgb(215, 203, 203);
    padding-right: 20px;
    cursor: pointer;
}

.weekdays ul{
    list-style-type: none;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: [monday] 1fr [tuesday] 1fr [wednesday] 1fr [thursday] 1fr [friday] 1fr [saturday] 1fr 
    [sunday] 1fr;
    margin-left: 40px; 
    margin-right: 40px;
    background-color: #15422b;
    grid-template-rows: 40px;
    
    
}

.weekdays li{
    display: inline-block;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 30px;
    background-color: #B8E0D2;
    padding-top: 10px;
    border-inline: solid;
    margin-bottom: 0;
    padding-bottom: 0;
}

.days ul{
    padding-top: 15px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.days{
    padding: 1px;
    /* padding-bottom: 225px; */
    background-color: #86C1A1;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 0;
}

.days li{
    margin-top: 0;
    list-style-type: none;
    display: block;
    width: 13.3%;
    text-align: center;
    border-inline: solid;
    margin-bottom: 50px;
    min-height: 40px;
}


 .first{
   grid-column: friday;
}

.first:hover{
    background-color: #15422b;
    background: #15422b;
    cursor: pointer;
}

.hover:hover{
    background-color: #15422b;
    background: #15422b;
    cursor: pointer;
}
/*
.second{
    margin-left: 10px;
    margin-right: ; */
/* } */